@using MVC_Project_DAL.Models
@model IEnumerable<Department>

<h1>All Departments</h1>
<br />
<br />
<a asp-controller="Department" asp-action="Create" class="btn btn-primary mb-2">Create New Department</a>


@if(Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Code)</th>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>@Html.DisplayNameFor(D => D.DateOfCreation)</th>
                <th> Details </th>
                <th> Update </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>
                     <partial name="_ButtonsPartial" model="@department.Id.ToString()"></partial>
                </tr>   
            }
        </tbody>
    </table>
}

else
{
    <div class="mt-5 alert alert-warning"> 
        <h3>there is no department</h3>
    </div>
}