
@model IEnumerable<EmployeeViewModel>

<h1>All Employees</h1>
<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-success mb-4">Add New Employee</a>


<div class="row justify-content-center align-items-center mt-4 mb-3">

    <form class="row col-8 offset-2" asp-action="Index">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchInput" placeholder="Search By Name" />
        </div>
        <div>
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>


</div>

@if(Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.department)</th>
                <th>@Html.DisplayNameFor(E => E.Address)</th> 
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.gender)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.isActive)</th>
                <th> Details </th>
                <th> Update </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
             @foreach(var Employee in Model)
            {
                <tr>          
                    <td>@Employee.Name</td>
                    <td>@Employee.department?.Name</td>
                    <td>@Employee.Address</td>
                    <td>@Employee.Age</td>
                    <td>@Html.DisplayFor(E => Employee.gender)</td>
                    <td>@Html.DisplayFor(E => Employee.Email)</td>
                    <td>@Html.DisplayFor(E => Employee.Salary)</td>
                    <td>@Html.DisplayFor(E => Employee.isActive)</td> 
                   <partial name="_ButtonsPartial" model="@Employee.Id"></partial>
                </tr>   
            } 
        </tbody>
    </table>
}

else
{
    <div class="mt-5 alert alert-warning"> 
        <h3>there is no Employee</h3>
    </div>
}


@*  JavaScript code to handle the keyup event: *@
